@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/JQGridReq/ui.jqgrid.css" rel="stylesheet" />*@
@*<link href="~/Content/jqGrid-master/css/ui.jqgrid.min.css" rel="stylesheet" />*@
<link href="~/Content/jqGrid-master/dist/css/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jqGrid-master/dist/css/ui.jqgrid.min.css" rel="stylesheet" />*@
<link href="~/Content/JQGridReq/styles/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<script src="~/Content/jqGrid-master/dist/jquery.jqgrid.min.js"></script>
@*<script src="~/Content/JQGridReq/jquery.jqGrid.min.js"></script>*@
@*<script src="~/Content/JQGridReq/grid.locale-en.js"></script>*@
<script src="~/Content/jqGrid-master/dist/i18n/grid.locale-en.min.js"></script>

<div id="mainpage" class="">
    @*<div class="page-title">
            <div class="title_left">
                <h3>All Employee Details</h3>
            </div>
            <div class="title_right">

            </div>
        </div>*@
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Send SMS to Employee(s)</h3>
                </div>

                <div class="x_content">
                    <div class="form-horizontal form-label-left">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label style=" margin-top: 5px;">Work Location</label>
                                <select id="WORKLOCATION" name="WORKLOCATION" class="form-control"></select>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label style=" margin-top: 5px;">Division</label>
                                <select class="form-control" id="division" name="division" disabled="disabled"></select>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label style=" margin-top: 5px;">Sub Division</label>
                                <select class="form-control" id="subdivision" name="subdivision" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label style=" margin-top: 5px;">Section</label>
                                <select class="form-control" id="section" name="section" disabled="disabled"></select>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label style=" margin-top: 5px;">Department</label>
                                <select class="form-control" id="department" name="DEPARTMENT"></select>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group pull-right" style="margin-top: 8.5%;">
                                <button id="btn_view" name="viewlist" class="btn btn-md btn-success"><i class="fa fa-eye"></i> View</button>
                                <button id="btn_compose" name="compose" class="btn btn-md btn-info" onclick="openModal();"><i class="fa fa-paper-plane"></i> Compose SMS</button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="overflow-x:scroll">
                            <div id="content">
                                <table id="jqGrid01"></table>
                                <div id="jqGridPager01"></div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-md" id="SMSModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Send SMS</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <textarea id="txt_Contactlist" rows="5" readonly="readonly" class="form-control"></textarea>
                </div>


                <div class="form-group">
                    <textarea id="txt_smstext" rows="5" placeholder="Write text here..." class="form-control"></textarea>
                </div>

            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button id="btn_sendsmse" name="sendsms" class="btn btn-block btn-success"><i class="fa fa-paper-plane"></i> Send</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="confirmSMSModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                @*<h4 class="modal-title" id="myModalLabel">Send SMS</h4>*@
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <h4>Are you sure to send Message?</h4>
                </div>

                
            </div>
            <div class="modal-footer">

                <div class="form-group">
                    <button id="btn_yes" name="sendsms" class="btn btn-lg btn-round btn-success pull-left"><i class="fa fa-check"></i> </button>
                    <button id="btn_no" name="sendsms" class="btn btn-lg btn-round btn-danger pull-right"><i class="fa fa-times"></i> </button>
                </div>

            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

        $("#btn_sendsmse").click(function () {
            $("#confirmSMSModal").modal("show");
        });

        $("#btn_yes").click(function () {
          
            $('#confirmSMSModal').modal("hide");
            $('#SMSModal').modal('hide');
            $.ajax({
                url: '@Url.Action("Sendsms", "Utility")',

                data: {
                    receipants: $('#txt_Contactlist').val(),
                    message: $('#txt_smstext').val(),
                },
                //Passes the content of an input up
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#txt_smstext').val("");
                    $('#txt_Contactlist').val("");
                    new PNotify({
                        title: 'Message',
                        text: 'Message sent successfully',
                        type: "success",
                        styling: 'bootstrap3'
                    });
                }
            });
        });
        $("#btn_no").click(function () {
            $('#confirmSMSModal').modal("hide");
        });
        $("#btn_view").click(function () {



            var WORKLOCATION = "0";

            if ($('#WORKLOCATION').val() != null) { WORKLOCATION = $('#WORKLOCATION').val(); }

            var division = "0";
            if ($('#division').val() != null) { division = $('#division').val(); }



            var subdivision = "0";
            if ($('#subdivision').val() != null) { subdivision = $('#subdivision').val(); }

            var section = "0";
            if ($('#section').val() != null) { section = $('#section').val(); }



            var department = "0";
            if ($('#department').val() != null) { department = $('#department').val(); }





            //alert(WORKLOCATION + "==" + division + "==" + subdivision + "==" + section + "==" + department);



            $("#jqGrid01").setGridParam(
           {


               url: " @Url.Action("GetEmployeeInfo", "Utility")/" + WORKLOCATION + "/" + division + "/" + subdivision + "/" + section + "/" + department,
               datatype: 'json',
               page: 1
           }
           ).trigger("reloadGrid");//Reload grid trigger

            var selectedRows = {};
            var lastSel;
            jQuery("#jqGrid01").jqGrid({
                url: " @Url.Action("GetEmployeeInfo", "Utility")/" + WORKLOCATION + "/" + division + "/" + subdivision + "/" + section + "/" + department,











                @*jQuery("#jqGrid01").jqGrid({

            url: " @Url.Action("GetEmployeeInfo", "Utility")",*@
                //url: 'http://localhost:56783/api/basicinformation',
                type: "GET",
                datatype: "Json",
                height: 200,
                colModel: [

                { name: 'ID', index: 'ID', key: true, hidden: true },
                { name: 'EMPLOYEE_CODE', index: 'EMPLOYEE_CODE', label: 'EMPLOYEE CODE', width: 120 },
                { name: 'EMPLOYEE_FULLNAME', index: 'EMPLOYEE_FULLNAME', label: 'EMPLOYEE NAME', width: 250 },
                { name: 'departmentname', index: 'departmentname', label: 'DEPARTMENT' },
                { name: 'designationname', index: 'designationname', label: 'DESIGNATION' },

                { name: 'PERSONAL_EMAIL', index: 'PERSONAL_EMAIL', label: 'EMAIL ID' },
                { name: 'OFFICIAL_EMAIL', index: 'OFFICIAL_EMAIL', label: 'OFFICIAL EMAIL' },
                { name: 'EMERGENCY_CONTACT_NUMBER', index: 'EMERGENCY_CONTACT_NUMBER', label: 'EMERGENCY CONTACT NO' },
                { name: 'OFFICIAL_MOBILE_NUMBER', index: 'OFFICIAL_MOBILE_NUMBER', label: 'OFFICIAL MOBILE NO.' },
                { name: 'MOBILE_NUMBER', index: 'MOBILE_NUMBER', label: 'MOBILE NO.' },

                {
                    name: 'ADDITIONAL INFORMATION', formatter: function (cellvalue, options, rowObject) {
                        var x = '@Html.ActionLink("Click Here", "Index", "EmployeeDetails", new { id = "myid" }, new { @style = "color:#7fa5d8;font-weight:bold;" })';
                        return x.replace("myid", rowObject['ID']);
                    }, align: 'center', search: false
                }

                ],

                loadonce: true,
                viewrecords: true,
                width: 1190,
                rowNum: 100,
                rowList: [100, 500, 1000],

                rownumWidth: 25,
                multiselect: true,
                multiPageSelection: true,
                pager: "#jqGridPager01",
                //loadComplete: function () {
                //    if ($("#jqGrid01").getGridParam("records") == 0) {
                //        $("#jqGrid01").addRowData(
                //        $("#jqGrid01")
                //            .empty()
                //            .append('<tr><td></td><td><h3>No data Available to Display</h3></td></tr>')
                //         );
                //    }
                //},
                jsonReader: {
                    repeatitems: false,
                    id: "ID",
                    root: function (obj) { return obj; },
                    page: function (obj) { return 1; },
                    total: function (obj) { return 1; },
                    records: function (obj) { return obj.length; }
                },
                ondblClickRow: function (rowid) {
                    //jQuery(this).jqGrid('editGridRow', rowid);
                    window.location = 'EmployeeDetails/Index/' + rowid;
                }
            });

            jQuery("#jqGrid01").jqGrid('navGrid', '#pjmap', { add: false, edit: false, del: false, search: false, refresh: false });
            jQuery("#jqGrid01").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, searchOperators: true, defaultSearch: "cn" });
            $(".ui-jqgrid-sortable").css('white-space', 'normal');
            $(".ui-jqgrid-sortable").css('height', 'auto');
            $(".ui-jqgrid tr.jqgrow td").css('white-space', 'normal');
            $(".ui-jqgrid tr.jqgrow td").css('height', 'auto');




        });




       

























        $("#btn_view").click();

        //if (history.length) {
        //    window.location.reload();
        //}

        $.ajax({
            @*@Url.Action("Action","Controller")*@
            url: " @Url.Action("Transferlocation", "EmployeeDetails")",
            async: false,
            type: "GET",
            datatype: "Json",
            success:
            function (result) {
                $('#WORKLOCATION').empty();
                $('#WORKLOCATION').append($('<option></option>').val(0).html("SELECT Location"));
                $.each(result, function (i) {
                    $('#WORKLOCATION').append($('<option></option>').val(result[i].ID).html(result[i].LOCATION_NAME));
                });
            }
        });
        $.ajax({
            @*@Url.Action("Action","Controller")*@
            url: " @Url.Action("Divisions", "EmployeeDetails")",
            async: false,
            type: "GET",
            datatype: "Json",

            success:
            function (result) {

                $('#division').append($('<option></option>').val(0).html("SELECT DIVISION"));
                $('#subdivision').append($('<option></option>').val(0).html("SUB-DIVISION"));
                $('#section').append($('<option></option>').val(0).html("SECTION"));
                $.each(result, function (i) {
                    $('#division').append($('<option></option>').val(result[i].DIVISION_CODE).html(result[i].DIV_NAME));
                });
            }
        });
        $('#division').on('change', function () {
            var divisionid = $('#division').val();
            $.ajax({

                url: " @Url.Action("SubDivisions", "EmployeeDetails")/" + divisionid,
                async: false,
                type: "GET",
                datatype: "Json",
                success:
                function (result) {
                    $('#subdivision').empty();
                    $('#section').empty();
                    $('#subdivision').append($('<option></option>').val(0).html("SUB-DIVISION"));
                    $('#section').append($('<option></option>').val(0).html("SECTION"));
                    $.each(result, function (i) {
                        $('#subdivision').append($('<option></option>').val(result[i].SUB_DIV_CODE).html(result[i].SUB_DIV_NAME));
                        //$('#dropdownDivUpdate').append($('<option></option>').val(result[i].id).html(result[i].Levelname));

                    });
                }
            });
        });
        $('#subdivision').on('change', function () {
            var subdivisionid = $('#subdivision').val();
            $.ajax({
                url: " @Url.Action("Sections", "EmployeeDetails")/" + subdivisionid,
                async: false,
                type: "GET",
                datatype: "Json",
                success:
                function (result) {

                    $('#section').empty();

                    $('#section').append($('<option></option>').val(0).html("SECTION"));
                    $.each(result, function (i) {
                        $('#section').append($('<option></option>').val(result[i].SEC_CODE).html(result[i].SEC_NAME));
                        //$('#dropdownDivUpdate').append($('<option></option>').val(result[i].id).html(result[i].Levelname));

                    });
                }
            });
        });
        $.ajax({
            @*@Url.Action("Action","Controller")*@
            url: " @Url.Action("Departments", "EmployeeDetails")",
            async: false,
            type: "GET",
            datatype: "Json",

            success:
            function (result) {
                $('#department').empty();
                $('#department').append($('<option></option>').val(0).html("SELECT DEPARTMENT"));
                $.each(result, function (i) {
                    $('#department').append($('<option></option>').val(result[i].ID).html(result[i].DEPARTMENT_NAME));
                });
            }
        });

        $('#WORKLOCATION').change(
      function () {
          //var val1 = $('#pick option:selected').val();
          var val2 = $('#WORKLOCATION option:selected').val();
          if (val2 == 1 || val2 == 0 || val2 == 5 || val2 == 6 || val2 == 7 || val2 == 8 || val2 == 9 || val2 == 10 || val2 == 11 || val2 == 12 || val2 == 13 || val2 == 14 || val2 == 15) {
              $("#division").attr("disabled", "disabled");
              $("#division").val(0);
              $("#subdivision").attr("disabled", "disabled");
              $("#subdivision").val(0);
              $("#section").attr("disabled", "disabled");
              $("#section").val(0);
          }
          if (val2 == 2) {
              $("#division").removeAttr("disabled");
              $("#subdivision").removeAttr("disabled");
              $("#section").removeAttr("disabled");
              $("#subdivision").attr("disabled", "disabled");
              $("#section").attr("disabled", "disabled");
              $("#subdivision").val(0);
              $("#section").val(0);
          }
          if (val2 == 3) {
              $("#division").removeAttr("disabled");
              $("#subdivision").removeAttr("disabled");
              $("#section").removeAttr("disabled");
              $("#section").attr("disabled", "disabled");
              $("#section").val(0);
          }
          if (val2 == 4) {
              $("#division").removeAttr("disabled");
              $("#subdivision").removeAttr("disabled");
              $("#section").removeAttr("disabled");
          }
          // Do something with val1 and val2 ...
      }
     );

    });
</script>


<script>
    function HideModal() {
        $('.modal-backdrop').remove();
    }

    function openModal() {

        //  $("#profile-tab").click();
        var grid = $("#jqGrid01");
        var rowKey = grid.getGridParam("selrow");

        if (!rowKey) {
            new PNotify({
                title: 'Warning',
                text: 'Please select Employee(s) to Send Sms',

                styling: 'bootstrap3'
            });
        }
            //alert("No rows are selected");

        else {
            var selectedIDs = grid.getGridParam("selarrrow");
            //var index = selectedIDs + 1; // zero-based index of row so it means the 3rd row
            //var rowId = jQuery('#jqGrid01 tr:eq(' + selectedIDs + ')').attr('id');
            ////(here I suppose that the <table> element of your jqGrid has id="list"). After you know the id of the row you can get the row data with respect of getRowData method or the data from one cell only with respect of getCell method:

            var dataFromTheRow = jQuery('#jqGrid01').jqGrid('getRowData', selectedIDs);
            var rowKey = jQuery("#jqGrid01").jqGrid('getGridParam', 'selrow');
            //var rowObject = jQuery('#jqGrid01').getRowData(rowKey);
            //var mobileno = rowObject.OFFICIAL_MOBILE_NUMBER;


            ////alert(dataFromTheRow.hirarchy_id );
            //var dataFromCellByColumnIndex = jQuery('#jqGrid01').jqGrid('getCell', rowId, 7);


            //var dataFromCellByColumnName = jQuery('#jqGrid01').jqGrid('getCell', rowId, 'Tax');
            var data = $("#jqGrid01").jqGrid("getGridParam", "data");
            //var query = $.jgrid.from(data);
            var ids = "";
            var contactno = "";
            for (var i = 0; i < selectedIDs.length; i++) {


                ids = selectedIDs[i];
                //var test = data[i];
                var rowObject = jQuery('#jqGrid01').getRowData(ids);
                //var mobileno = rowObject.OFFICIAL_MOBILE_NUMBER;
                var mobileno = data[i].OFFICIAL_MOBILE_NUMBER;
                //var OFFICIAL_MOBILE_NUMBER = grid.jqGrid('getCell', ids, 'OFFICIAL_MOBILE_NUMBER');
                //alert(ids + "---" + OFFICIAL_MOBILE_NUMBER);
                if (mobileno != null)
                {
                    contactno += mobileno + ",";
                }
               
                //contactno += OFFICIAL_MOBILE_NUMBER ;
               
            }
            $('#txt_Contactlist').val(contactno);

            $('#SMSModal').modal('show');
        }

       
       
        return false;


    }
</script>